* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: unset;
}

a, button, input, textarea {
    font-family: 'Times New Roman', Times, serif;
}

.quti {
    position: relative;
    width: 90%;
    text-align: center;
    justify-content: center;
}

.sirt {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.tepa * {
    font-size: 18px;
    user-select: none;
}

.tepa .qism {
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 5px 10px 10px;
    border-radius: 5px 5px 0 0;
    background-color: #00ffff;
}

.qism .belgi {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: opacity .1s;
}

.qism .belgi:hover {
    opacity: 0.6;
}

.qism .belgi>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.qism .sarlavha {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    transform: translateX(20%);
    pointer-events: none;
}

.qism .amallar {
    position: relative;
    display: inline-block;
    margin-right: -2px;
    padding-right: 0;
    font-size: large;
}

.qism .amallar i {
    padding: 0 2px;
    cursor: pointer;
}

.qism .amallar i:hover {
    opacity: 0.5;
}

/* Kiriuvchilar */
.kiruvchi {
    display: flex;
    position: relative;
    margin: 0 15px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.kiruvchi * {
    font-size: 20px;
    outline: none;
}

.matnlar {
    margin-left: 10px;
}

.matnlar .matn {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.kiruvchi .matn .ustun {
    display: flex;
    align-items: center;
}

.kiruvchi .matn input[type="number"] {
    width: 60px;
    margin: 10px 0;
    margin-left: 5px;
    padding: 0 8px;
    border: 1px solid #a9a9a9;
    text-align: center;
}

.kiruvchi .matn input[type="number"]:focus {
    border-color: #e59700;
}

.varaqlar {
    font-size: 15px;
    line-height: 14px;
    pointer-events: none;
    user-select: none;
}

.kiruvchi .tanlovlar {
    position: relative;
    width: 350px;
    margin: 5px 0;
    border: 1.1px solid blue;
    padding: 35px 0;
    text-align: left;
    user-select: none;
}

.kiruvchi .tanlovlar .shakl {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #f1f1f1;
    padding: 0 2px;
}

.kiruvchi .tanlovlar .tanlagich {
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
}

.kiruvchi .tanlovlar label {
    cursor: pointer;
}

.kiruvchi .tanlovlar .kitob {
    position: relative;
    left: 0;
}

.kiruvchi .tanlovlar input[type="radio"] {
    transform: scale(1.3);
    cursor: pointer;
}

.kiruvchi .tugmalar .chiqar {
    height: 135px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #a9a9a9;
    user-select: none;
    cursor: pointer;
    transition: border-color 0.8s;
}

.kiruvchi .tugmalar .chiqar:hover {
    border-color: #000000;
}

.shart {
    width: 78%;
    margin-left: auto;
    margin-right: 0;
    /* opacity: 0; */
    font-size: 14px;
    line-height: 15px;
    transition: opacity 0.5s;
}

#kitob:checked~ .shart {
    opacity: 1;
}

/* Chiquvchilar */
.chiquvchi {
    position: relative;
    text-align: left;
    justify-content: left;
    margin: 0px 15px;
}

.chiquvchi .nishon {
    font-size: 18px;
}

.chiquvchi .maydon {
    position: relative;
}

.chiquvchi textarea {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 2px;
    resize: none;
    font-size: 18px;
    outline: none;
    border: 1px solid #767676;
    border-radius: 2px;
    padding-left: 5px;
    padding-top: 5px;
}

.chiquvchi .natija {
    border-width: 1.3px;
    border-radius: 5px;
    border-color: #a9a9a9;
}

.nusxalagich {
    position: absolute;
    top: 32px;
    right: 8px;
    cursor: pointer;
    transition: linear .9s;
}

/* New styles */
.past {
    position: fixed;
    width: 480px;
    bottom: 10px;
    left: 50%;
    padding: 10px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    transform: translateX(-50%);
}

.past a {
    color: #207DE8;
}

@media screen and (max-width: 540px) {
    .sirt {
        width: 90%;
    }

    .kiruvchi .tanlovlar {
        width: 100%;
        padding: 15px;
    }

    .qism .sarlavha {
        transform: translateX(10%);
    }
}

@media screen and (max-width: 480px) {
    .kiruvchi .tanlovlar {
        padding: 15px;
    }

    .kiruvchi .tugmalar .chiqar {
        height: 165px;
    }

    .shart {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
}